name: keep_visible
description: Keep an widget visible when the keyboard appears.
version: 1.0.0
repository: https://github.com/davidsdearaujo/keep_visible

environment:
  sdk: '>=2.14.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
